@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: black;
  background-color: transparent;
  transition: background-color 5000s ease-in-out 0s;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #474747;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

@font-face {
  font-family: "Wonder";
  src: url("/Wonder-Font/Wonder.ttf") format("truetype");
}

@font-face {
  font-family: "Cooper";
  src: url("/COOPBL.TTF") format("truetype");
}

@font-face {
  font-family: "Century";
  src: url("/CenturyBold.ttf") format("truetype");
}

body::-webkit-scrollbar {
  width: 0;
}
