  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-text-fill-color: black;
    background-color: transparent;
    transition: background-color 5000s ease-in-out 0s;
  }

  @font-face {
    font-family: "Wonder";
    src: url("/Wonder-Font/Wonder.ttf") format("truetype");
  }

  @font-face {
    font-family: "Samurai";
    src: url("/samurai-blast-font/SamuraiBlast-YznGj.ttf") format("truetype");
  }
  @font-face {
    font-family: "Cooper";
    src: url("/COOPBL.TTF") format("truetype");
  }

  body::-webkit-scrollbar {
    width: 0;
  } 
